@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: calc(100% - 1rem);
  padding: 0.5rem;
}

.mse-grid-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;
}

.mse-grid-form > .mse-fixed-label {
  align-self: center;
}

.mse-grid-form > :not(.mse-fixed-label) {
  min-width: 0;
  overflow-wrap: anywhere;
}

.mse-fixed-label {
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
}

.mse-bg-vscode-sideBar-background {
  background-color: var(--vscode-sideBar-background);
}

vscode-collapsible::part(body) {
  overflow: visible;
}
