body {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.col-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-width: 0;
}

.fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

vscode-collapsible::part(body) {
  overflow: visible;
}
