name: 'Release'

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
      - 'checker-v*'
    paths-ignore:
      - '**.md'
      - '.vscode'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm i

      - name: Change Extension Version
        shell: bash
        run: |
          is_release=${{ startsWith(github.ref, 'refs/tags/v') }}
          if $is_release; then
            ver=${{ github.ref_name }}
            ver=${ver:1}
          else
            ver=`git describe --tags --match "v*" --long | sed -E 's/^v([0-9]+\.[0-9]+\.[0-9]+)-([0-9]+)-g([a-f0-9]+)/\1-post.\2-ci.g\3/'`-`git rev-parse --abbrev-ref HEAD | sed 's#/#-#' | sed 's#_#-#'`
          fi
          echo "Change version to ${ver}"
          npm --prefix release pkg set version=${ver}

      - name: Change Checker Version
        shell: bash
        run: |
          is_release=${{ startsWith(github.ref, 'refs/tags/checker-v') }}
          if $is_release; then
            ver=${{ github.ref_name }}
            ver=${ver:9}
            echo "Change version to ${ver}"
            npm --prefix pkgs/maa-checker pkg set version=${ver}
          fi

      - name: Lint check
        shell: bash
        run: |
          npm run lint

      - name: Build extension
        shell: bash
        run: |
          node scripts/build.mjs

      - name: Package extension
        shell: bash
        run: |
          npm i -g @vscode/vsce
          cd release
          vsce package
          mkdir vsix
          cp *.vsix vsix/

      - uses: actions/upload-artifact@v4
        with:
          name: maa-support-extension
          path: 'release/vsix'

      - name: Publish checker
        if: startsWith(github.ref, 'refs/tags/checker-v')
        shell: bash
        run: |
          cd pkgs/maa-checker
          npm publish --access public

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: assets

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install vsce
        run: |
          npm i -g vsce

      - name: Publish
        run: |
          vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath assets/maa-support-extension/*.vsix
